
$green: #4ee1a0;
$lightbody:#ffffff;
$darkbody:#151515;
$grey:#d9d9d9;
$boldfont:'SpaceGrotesk-Bold';
$Mediumfont: 1.175rem;
$Largefont:2rem;
$Lineheight:3px;

@font-face {
    font-family: 'Space Grotesk';
    src: url('https://fonts.cdnfonts.com/css/space-grotesk');
}



body {
    background-color: $darkbody;
    font-style: $boldfont;
    font-family: 'Space Grotesk';
    color: $lightbody;
    margin:0;
}

.main-body {
    width: 80%;
    margin: auto;
}

nav {
    color: $darkbody;
    width:100px;
    display: flex;
    margin-bottom: 20px; 
    background-color: #4ee1a0;
    float: right;
}

.hamburger-navbar {
    position: absolute;
    top: 45px;
    right:25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 25px;
    
}

.bar {
    height: 5px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    color: $lightbody;
}
.rings {
    position: absolute;
    z-index: 9;
    translate:70%;
    opacity: 1.5;
    margin-top: 10px;
}
.rings-2 {
    position: absolute;
    z-index: 9;
    translate:-70%;
    opacity: .5;
    margin-top: -55px;

}

.h1-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    border-bottom-style: solid;
    border-bottom-color: $grey;
    border-bottom-width: $Lineheight;
    padding-bottom: 100px;
    padding-top: 100px;
    position: relative;

        h1 {
            font-size: 3.75rem;
            margin: auto;
            text-align: center;
        }

        b {
            border-bottom-style: solid;
            border-bottom-color: $green;
            border-bottom-width: $Lineheight;
        }

        .h1-container-p {
            width: 60%;
            margin: auto;
            margin-top: 50px;
            margin-bottom: 30px;
            text-align: center;
            font-size: $Mediumfont;
           

        }

  


}

.contact-button {
    width: max-content;
    margin: auto;
    background-color: $darkbody;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: $green;
    font-size:$Mediumfont ;
    font-weight: 700;

    &:hover {
        border-bottom-color: $lightbody;
    }
  


}
    a {
        text-decoration: none;
        color: white;

        &:hover {
            color:$green;
            
        }

    }

.skill-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 50px;
    justify-content: space-evenly;

        .skill-logo-container {
            width: max-content;
            padding: 20px;
            margin: auto;
            margin-bottom: 20px;
            font-size: $Mediumfont;
            text-align: center;
            
            // background-color: $green;

            &:hover {
                color: $green;
            }

            h3 {
                margin: auto;
                text-align: center;
            }
        }

        i {
            font-size: 50px;
            margin: auto;
        }
}


.project-heading-container {
    margin: auto;
    margin-bottom: 50px;
    font-size: $Largefont;
    border-top-style: solid;
    border-top-color: $grey;
    border-top-width:$Lineheight;

        h4 {
            //width: 50%;
            text-align: center;
        }

      
}

.project-main-container {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
  


    .project-box {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        margin: auto;
        margin-bottom: 30px;

            img {
                //width: 25rem;
                width: 100%;
            
            }

            .project-name {
                margin-bottom: -5px;
                font-weight: 700;
                font-size: $Mediumfont;
            }

            .project-lang {
                display: flex;
                float: left ;

                    .language {
                        margin-right: 10px;
                    }
            }

            .project-button {
                background-color: transparent;
                color: $lightbody;
                border-style: none;
                border-bottom-style: solid;
                border-bottom-color: $green;
                font-weight: 700;
                margin-right: 20px;

                
            }
      
        
       
    }
}

.footer-section {
    background-color: #242424;
    width: 100%;

    footer {    
        width: 80%;
        margin: auto;
        padding-top: 20px;

        .contact-h4-container {
            width: 90%;
            margin: auto;
            text-align: center;
            margin-bottom: 50px;

            .footer-p {
                width: 85%;
                margin: auto;
                padding-bottom: 20px;
            }
        }
      
        h4 {
            font-size: $Largefont;
            font-weight: 700;
            // animation: color-change 2.5s infinite;
            
        }

        .social-links {
            padding-bottom: 10px;
        }

    }

    
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    padding-bottom: 50px;

        label {
            float: left;
            color: #d9d9d9;
            font-weight: 700;
            margin-bottom: 5px;
        }

        input {
            height: 20px;
            background-color: transparent;
            border-style: none;
            border-bottom-style: solid;
            border-bottom-color: $lightbody;
            color: $lightbody;
        }

        textarea {
            background-color: transparent;
            background-color: transparent;
            border-style: none;
            border-bottom-style: solid;
            border-bottom-color: $lightbody;
            
        }

        .submit {
            width: max-content;
            color: $lightbody;
            border-bottom-color: $green;
        }
}


@keyframes color-change-html {
    0% { color:#e34c26; }
    50% { color: #f06529; }
    100% { color: #ffffff; }
  } 

  @keyframes color-change-css {
    0% { color:$lightbody; }
    50% { color: $green; }
    100% { color: $lightbody; }
  } 

  @keyframes fade-in {
    0% { opacity:0;}
    20% {opacity: 20%;}
  }



 
