
$green: #4ee1a0;
$lightbody:rgb(235, 225, 225);
$darkbody:#151515;
$Grey:#d9d9d9;
$boldfont:'SpaceGrotesk-Bold';
$Mediumfont: 1.175rem;
$Largefont:2rem;
$Lineheight:3px;

@font-face {
    font-family: 'Space Grotesk';
    src: url('https://fonts.cdnfonts.com/css/space-grotesk');
}



body {
    background-color: $darkbody;
    font-style: $boldfont;
    font-family: 'Space Grotesk';
    color: white;
}

.main-body {
    width: 80%;
    margin: auto;
}

nav {
    color: $darkbody;
    display: flex;
    margin-bottom: 20px; 
}

.h1-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    border-bottom-style: solid;
    border-bottom-color: $Grey;
    border-bottom-width: $Lineheight;
    padding-bottom: 100px;

        h1 {
            font-size: 3.75rem;
            margin: auto;
            text-align: center;
        }

        b {
            border-bottom-style: solid;
            border-bottom-color: $green;
            border-bottom-width: $Lineheight;
        }

        .h1-container-p {
            width: 60%;
            margin: auto;
            margin-top: 50px;
            margin-bottom: 30px;
            text-align: center;
            font-size: $Mediumfont;
           

        }

        .contact-button {
            width: 150px;
            margin: auto;
            background-color: $darkbody;
            border-style: none;
            border-bottom-style: solid;
            border-bottom-color: $green;
            font-size:$Mediumfont ;


        }
            a {
                text-decoration: none;
                color: white;

            }

        
}


.skill-container {
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 50px;
    justify-content: space-between;

        .skill-logo-container {
            width: 55px;
            padding: 10px;
            margin: auto;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 20px;
            font-size: $Mediumfont;
            text-align: center;
            animation: color-change 2.5s infinite;
            // background-color: $green;

            &:hover {
                color: $green;
            }

            h3 {
                margin: auto;
                text-align: center;
            }
        }

        i {
            font-size: 50px;
            margin: auto;
        }
}


.project-heading-container {
    margin: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: $Largefont;
    border-top-style: solid;
    border-top-color: $Grey;
    border-top-width:$Lineheight ;
}

.project-main-container {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
  


    .project-box {
        width:100%;
        height: 300px;
        background:$green;
        border-radius: 10px;
        margin: auto;
        margin-bottom: 15px;
      
        
       
    }
}

.footer-section {
    background-color: #242424;
    width: 100%;

    footer {    
        width: 80%;
        margin: auto;
        padding-top: 20px;

        .contact-h4-container {
            width: 90%;
            margin: auto;
            text-align: center;
            margin-bottom: 50px;

            .footer-p {
                width: 85%;
                margin: auto;
            }
        }
      
        h4 {
            font-size: $Largefont;
            font-weight: 700;
            // animation: color-change 2.5s infinite;
            
        }

    }

    
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: 70%;
    padding-bottom: 50px;
}


@keyframes color-change {
    0% { color:$lightbody; }
    50% { color: $green; }
    100% { color: $lightbody; }
  } 

  @keyframes fade-in {
    0% { opacity:0;}
    20% {opacity: 20%;}
  }



 
